* {
  box-sizing: border-box;
}
.access-button {
  margin-top: -13px;
  margin-left: 7%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 16px;
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 28px;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
h1 {
  line-height: 44px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
}
h2 {
  line-height: 36px;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.unordered-list {
  padding-left: 0;
  list-style: none;
}
.container-1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.section3-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

img {
  position: relative;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}
.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-tiny.cc-paragraph-tiny-light {
  opacity: 0.7;
  text-align: center;
}
.text-box1 {
  position: relative;
  left: 2%;
  top: -29px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-around;
  opacity: 0.8;
  font-family: Varela, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: none;
}


.hello {
  position: relative;
  left: auto;
  top: -13px;
  display: flex;
  margin: 150px 0px 10px 22px;
  padding-right: 95px;
  padding-left: 100px;
  clear: right;
  justify-content: center;
  font-family: Molengo, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  font-size: 100px;
  line-height: 100px;
  text-align: left;
  text-transform: none;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-contact {
  height: 50px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.button {
  background-color: #5D73AE;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  box-shadow: 4px 4px 2px rgb(144, 144, 144);
}

.only-BUTTON {
  width: 200px;
  height: 60px;
  padding-top: 20px;
  border-radius: 40px;
  background-color: #5d73ae;
  font-family: Roboto, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.button:hover {
  background-color: #465ca0;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.nav-item {
  right: 121px;
  width: 130px;
  height: 119px;
  padding: 6% 0px 9px 5%;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-item:hover {
  opacity: 0.9;
}

.nav-item:active {
  opacity: 0.8;
}

.nav-item.contact {
  left: -92px;
  bottom: 32px;
  padding-bottom: 0px;
}

.navigation-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navigation {
  display: flex;
  height: 119px;
  padding: 30px 50px;
  align-items: center;
  background-color: #0bdbe8;
}
.navigation-wrap {
  display: flex;
  margin-right: -20px;
  align-items: center;
  order: 2;
}

.firstpart {
  display: flex;
  margin-top: 100px;
  margin-bottom: 140px;
  padding-right: 15%;
  justify-content: flex-start;
}

.header1 {
  position: relative;
  left: -86px;
  top: -25px;
  right: 92px;
  display: flex;
  margin-top: 19px;
  padding-right: 0px;
  padding-left: 200px;
  clear: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}
.my-process-section {
  margin-bottom: 140px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.works-grid {
  margin-bottom: 80px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: auto auto;
}

.work-image {
 display: flex;
  height: 460px;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #f4f4f4;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}
.work-image.cc-work-1 {
  flex-direction: row;
  background-size: cover;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.work-image.cc-work-2 {
  background-size: cover;
}

.work-image.cc-work-4 {
  background-size: cover;
}

.work-image.cc-work-3 {
  background-size: cover;
}
.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}
.footer-wrap {
  display: flex;
  padding: 40px 50px;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  list-style: none;
}

.email-section {
  width: 70%;
  margin: 140px auto 200px;
  text-align: center;
}

.sm-icons {
  position: fixed;
  left: auto;
  top: 67%;
  right: 0%;
  bottom: 0%;
  z-index: 60;
  margin-top: -14%;
  margin-bottom: -200px;
  padding-right: 189px;
  flex: 1;
}

.container-2 {
  flex: 0 auto;
}

.image-2 {
  position: relative;
  right: 54px;
  bottom: 3px;
}

.body {
  height: 5000px;
  clear: right;
  background-color: #fff;
}

.image-3 {
  padding-bottom: 15px;
}

.image-4 {
  padding-top: 15px;
}

.image-5 {
  padding-top: 15px;
}

.image-6 {
  padding-top: 15px;
}


.middle-PART {
  height: 300px;
  margin-top: -140px;
  margin-bottom: 107px;
  background-color: hsla(0, 0%, 76.9%, 0.24);
}

.heading {
  position: absolute;
  left: 35px;
  top: 9px;
  margin-top: 200px;
  padding-right: 127px;
  padding-left: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  text-align: left;
}
.image-7 {
  position: relative;
  top: -70px;
  display: block;
  margin-right: -67px;
  float: left;
  clear: left;
  border-radius: 16px;
  opacity: 0.82;
}
.image-8 {
  position: relative;
  top: none;
  margin-left: 2px;
  order: 1;
}

.text-block {
  padding-top: 158px;
  direction: rtl;
  color: #505050;
  font-size: 28px;
  text-align: center;
  text-transform: none;
  white-space: normal;
}

.columns {
  padding-bottom: 109px;
}
.column-4 {
  display: flex;
  justify-content: center;
}

.columns-2 {
  margin-top: 16px;
}
.container-3 {
  position: relative;
  right: 143px;
  padding-right: 117px;
}

.container-4 {
  clear: right;
  flex: 1;
}

.list {
  position: relative;
  left: 24%;
  display: flex;
  padding-right: 300px;
  padding-left: 0px;
  flex-wrap: nowrap;
  align-self: stretch;
  font-family: Verdana, Geneva, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  font-size: 25%;
  list-style-type: none;
}

.list-item {
  padding-right: 50px;
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.list-item-2 {
  padding-right: 50px;
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  color: #74788a;
  font-size: 20px;
  font-weight: 500;
}

.list-item-2:hover {
  color: #525050;
  font-weight: 600;
}

.list-item-3 {
  padding-right: 50px;
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  color: #74788a;
  font-size: 20px;
  font-weight: 500;
}

.list-item-3:hover {
  color: #525050;
  font-weight: 600;
}

.list-item-4 {
  padding-right: 55px;
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  color: #74788a;
  font-size: 20px;
  font-weight: 500;
}

.list-item-4:hover {
  color: #525050;
  font-weight: 600;
}

.list-item-5 {
  padding-right: 50px;
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  color: #74788a;
  font-size: 20px;
  font-weight: 500;
}

.list-item-5:hover {
  color: #525050;
  font-weight: 600;
}
.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  align-items: flex-start;
  background-color: rgba(11, 219, 232, 0.6);
  text-align: center;
  list-style: none;
}

.footer-flex-container {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  text-align: left;
}
.list-item-6 {
  font-family: Montserrat, 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
  color: #74788a;
  font-size: 20px;
  font-weight: 500;
}

.list-item-6:hover {
  color: #525050;
  font-weight: 600;
}